.task-3 .Click2Select {
    position: relative;
    width: 100%;
    height: 5rem;
    padding: 0;
    background-color: #e9e9e9;
    border: 1px #333333 solid;
    border-radius: 5px;
    text-align: center;
}

.task-3 .Click2Select input[type="file"] {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

.task-3 .Click2Select .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
    margin: auto;
    /* background-color: green; */
}